@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style de l'ascenseur personnalisé */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #d97706;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b45309;
}

/* Pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d97706 #f1f1f1;
}